<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/vue.js"></script>
    <script src="static/js/index.js"></script>
    <script src="static/js/utils.js"></script>
    <style type="text/css">
        @import url("https://lib.baomitu.com/element-ui/2.13.2/theme-chalk/index.css");
    </style>
    <script>
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        var chapter_id = queryVariable("chapter");
        var problem_imgs_suffix = ['_0', '_1', '_2', '_3', '_4', '_5'];
        var current_problem_imgs = [];
        var chapter_name;
        var problem_count;
        var markedItems = {};
        var current_problem_id = 1;
        if (GetQueryString("cursor") !== null) {
            current_problem_id = parseInt(GetQueryString("cursor"));
        }
        var show_ans = false;

        $.ajax({
            type: "get",
            url: "getChapterInfo/" + chapter_id,
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                chapter_name = data["chapter_name"];
                problem_count = data["problem_count"];
                markedItems = JSON.parse(data["markedItems"]);
            }
        });

    </script>
</head>

<body>
<script>
    document.title = "章节练习：" + chapter_name;
</script>
<div id="app">
    <el-container>
        <!------ 网页侧边栏 ------>
        <el-aside style="width: 200px;margin-top: 60px">
            <el-menu default-active="1"
                     @select="handleSelectAside">
                <el-submenu index="1">
                    <template slot="title">
                        <i class="el-icon-location"></i>
                        <span>高等数学</span>
                    </template>
                    <el-menu-item index="1_1">第一章</el-menu-item>
                    <el-menu-item index="1_2">第二章</el-menu-item>
                </el-submenu>
                <el-menu-item index="2">
                    <i class="el-icon-menu"></i>
                    <span slot="title">线性代数</span>
                </el-menu-item>
                <el-menu-item index="3">
                    <i class="el-icon-document"></i>
                    <span slot="title">概率统计</span>
                </el-menu-item>
                <el-menu-item index="4">
                    <i class="el-icon-setting"></i>
                    <span slot="title">复变函数</span>
                </el-menu-item>
            </el-menu>
        </el-aside>
        <el-container>
            <!------ 网页导航栏 ------>
            <el-header>
                <div style="float: right">
                    <el-menu class="el-menu-demo" mode="horizontal"
                             @select="handleSelect">
                        <el-menu-item index="1">首页</el-menu-item>
                        <el-submenu index="2">
                            <template slot="title">章节练习</template>
                            <el-menu-item index="2-1">高等数学</el-menu-item>
                            <el-menu-item index="2-2">复变函数</el-menu-item>
                            <el-menu-item index="2-3">线性代数</el-menu-item>
                            <el-menu-item index="2-4">概率统计</el-menu-item>
                        </el-submenu>
                        <el-menu-item index="3">练习记录</el-menu-item>
                        <el-menu-item index="4">下载客户端</el-menu-item>
                        <el-menu-item index="5">关于我们</el-menu-item>
                        <el-avatar
                                style="margin: 10px"
                                src="static/img/user-icon.png">
                        </el-avatar>
                    </el-menu>
                </div>
            </el-header>
            <!------ 网页页头 ------>
            <el-page-header @back="goBack" content="题目练习"
                            style="padding-bottom: 20px;padding-left: 20px"></el-page-header>
            <div style="text-align: center;margin-top: 20px">
                <el-progress :text-inside="true" :stroke-width="26" :percentage="percentage"
                             style="margin-left: 10%;margin-right: 10%;margin-bottom: 20px;margin-top: 20px"></el-progress>
                <br><br>
                <el-button type="primary" @click="lastProblem">上一题</el-button>
                <el-button style="margin-left: 200px;margin-right: 200px;" type="primary" @click="nextProblem">下一题
                </el-button>
                <el-button style="margin-right: 200px;" id="switchAns" type="primary" @click="switchAns">显示答案
                </el-button>
                <el-button type="danger" id="fav_button" @click="favourite">收藏此题</el-button>
            </div>
            <div style="margin: 70px">
                <center>
                    <!------ 练习模块部分 ------>
                    <img id="statement" src="static/data/1_1_1_0.png"/>
                    <br>
                    <img id="c1" src="static/data/1_1_1_1.png" style="padding-top: 40px;padding-right: 80px;"/>
                    <img id="c2" src="static/data/1_1_1_2.png" style="padding-top: 40px;padding-left: 80px;"/>
                    <br><br>
                    <img id="c3" src="static/data/1_1_1_3.png" style="padding: 10px;padding-right: 80px;"/>
                    <img id="c4" src="static/data/1_1_1_4.png" style="padding: 10px;padding-left: 80px;"/>
                    <br>
                    <div id="answer" style="display: none">
                        <img id="c5" src="static/data/1_1_1_5.png"/>
                    </div>
                </center>
            </div>
        </el-container>
    </el-container>
    <!------ 网页页脚 ------>
    <el-footer style="padding: 0">
        <div style="background-color: black;text-align: center;font-size: small;color: white;padding: 15px 0;margin: 0">
            <p>
                东北大学数学题库练习系统 Powered by Vue, jQuery, Elements, Spring Boot<br/>
                Designed by @i.Pear, 2020.10.31
            </p>
        </div>
    </el-footer>
</div>
<script>
    var Main = {
        data() {
            return {
                value: true,
                fit: "contain",
                percentage: Math.ceil(current_problem_id / problem_count * 100),
            };
        },
        methods: {
            handleSelectAside(key, keyPath) {
                if (key === "1_1" || key === "1_2") {
                    window.location = "/train?chapter=" + key;
                }else{
                    this.$notify.success({
                        title: '提示',
                        message: '本题库尚未开放'
                    });
                }
            },
            handleSelect(key, keyPath) {
                if (key === "1") {
                    window.location = "/";
                } else if (key === "2-1") {
                    window.location = "/train?chapter=1_1";
                } else if (key === "2-2") {
                    this.$notify.success({
                        title: '提示',
                        message: '本题库尚未开放'
                    });
                } else if (key === "2-3") {
                    this.$notify.success({
                        title: '提示',
                        message: '本题库尚未开放'
                    });
                } else if (key === "2-4") {
                    this.$notify.success({
                        title: '提示',
                        message: '本题库尚未开放'
                    });
                } else if (key === "3") {
                    window.location = "/history";
                } else if (key === "4") {
                    window.location = "/app";
                } else if (key === "5") {
                    window.location = "/about";
                }
            },
            goBack() {
                this.$notify.info({
                    title: '请求返回',
                    message: '请求返回：'
                });
                window.location = "/";
            },
            favourite() {
                if ($("#fav_button").text() === "收藏此题") {
                    // not being favoured
                    $("#fav_button").text("取消收藏");
                    markedItems[chapter_id + "_" + String(current_problem_id)] = true;
                } else {
                    // has been favoured
                    $("#fav_button").text("收藏此题");
                    delete markedItems[chapter_id + "_" + String(current_problem_id)];
                    console.log(markedItems);
                }
                this.$notify.success({
                    title: '题目收藏信息变更',
                    message: "用户数据库已修改",
                });
                // update database
                $.ajax({
                    type: "post",
                    url: "updateExerciseRecord/",
                    async: false,
                    data: JSON.stringify(markedItems),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function (data) {
                        this.$notify.success({
                            title: '题目收藏信息变更',
                            message: "此处修改用户数据库",
                        });
                    }
                });
            },
            update_info() {
                for (let i = 0; i < 6; i++) {
                    current_problem_imgs[i] = String(current_problem_id) + problem_imgs_suffix[i];
                }
                // let temp="static/data/"+String(current_problem_id)+"_0.png";
                document.getElementById("statement").src = "static/data/" + String(chapter_id) + "_" + String(current_problem_id) + "_0.png";
                document.getElementById("c1").src = "static/data/" + String(chapter_id) + "_" + String(current_problem_id) + "_1.png";
                document.getElementById("c2").src = "static/data/" + String(chapter_id) + "_" + String(current_problem_id) + "_2.png";
                document.getElementById("c3").src = "static/data/" + String(chapter_id) + "_" + String(current_problem_id) + "_3.png";
                document.getElementById("c4").src = "static/data/" + String(chapter_id) + "_" + String(current_problem_id) + "_4.png";
                document.getElementById("c5").src = "static/data/" + String(chapter_id) + "_" + String(current_problem_id) + "_5.png";

                this.percentage = Math.ceil(current_problem_id / problem_count * 100);

                if (markedItems[chapter_id + "_" + String(current_problem_id)]) {
                    $("#fav_button").text("取消收藏");
                } else {
                    $("#fav_button").text("收藏此题");
                }
            },
            nextProblem() {
                if (current_problem_id === problem_count) return;
                current_problem_id++;
                this.update_info();
            },
            lastProblem() {
                if (current_problem_id === 1) return;
                current_problem_id--;
                this.update_info();
            },
            showAns() {
                document.getElementById("answer").style.display = "inline";
                document.getElementById("switchAns").innerText = "隐藏答案";
                show_ans = true;
            },
            hideAns() {
                document.getElementById("answer").style.display = "none";
                document.getElementById("switchAns").innerText = "显示答案";
                show_ans = false;
            },
            switchAns() {
                if (show_ans) this.hideAns();
                else this.showAns();
            },
        }
    };
    var Ctor = Vue.extend(Main);
    new Ctor().$mount('#app');

    // init image urls
    for (let i = 0; i < 6; i++) {
        current_problem_imgs[i] = String(current_problem_id) + problem_imgs_suffix[i];
    }
    document.getElementById("statement").src = "static/data/" + String(chapter_id) + "_" + String(current_problem_id) + "_0.png";
    document.getElementById("c1").src = "static/data/" + String(chapter_id) + "_" + String(current_problem_id) + "_1.png";
    document.getElementById("c2").src = "static/data/" + String(chapter_id) + "_" + String(current_problem_id) + "_2.png";
    document.getElementById("c3").src = "static/data/" + String(chapter_id) + "_" + String(current_problem_id) + "_3.png";
    document.getElementById("c4").src = "static/data/" + String(chapter_id) + "_" + String(current_problem_id) + "_4.png";
    document.getElementById("c5").src = "static/data/" + String(chapter_id) + "_" + String(current_problem_id) + "_5.png";

    this.percentage = Math.ceil(current_problem_id / problem_count * 100);

    if (markedItems[chapter_id + "_" + String(current_problem_id)]) {
        $("#fav_button").text("取消收藏");
    } else {
        $("#fav_button").text("收藏此题");
    }
</script>
</body>
</html>